<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of pet owners</title>
</head>
<body>
<h1 th:text="'List of pet owners'">Owners list</h1>
<table class="table table-striped">
    <tr>
        <th style="width: 150px">ID</th>
        <th style="width: 150px">FIRST NAME</th>
        <th style="width: 150px">LAST NAME</th>
    </tr>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">ID</td>
        <td th:text="${owner.firstName}">IVAN</td>
        <td th:text="${owner.lastName}">IVANOV</td>
    </tr>
</table>
</body>
</html>